	<head>
		<link rel="shortcut icon" href="../phinsaquaria/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/news.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/globalstyle.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,900,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div class="cultivate_wrapper">
			<div class="cultivate">
				<h2>Cultivating Now</h2>
					<p class="culture">We have two labs. At one we're raising our broodstock of marine ornamentals for breeding,<br />
						and the other we're culturing a variety of food in the form of algae and zooplankton.</p>
					<img src="../phinsaquaria/images/volvoxalgae.png"    alt="Algae" />
					<p class="culture">We have too much of this crap and we're selling it TO YOU!!!! OMGOMGOMG.<br />
						BUY NOW BUY NOW BUY NOW!!!!!!</p>
					<img src="../phinsaquaria/images/Cyclopscopepod.png" alt="Copepod" />
					<p class="culture">Did you buy it yet? How about now? Are you buying things from us? Why aren't you buying stuff?<br />
						Dude! We have so much junk we have to get rid of, why haven't you bought any of this $&!# ?</p>
					<img src="../phinsaquaria/images/stuff.png"    alt="Stuff" />
			</div>
		</div>