<!DOCTYPE HTML>
<html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<title>PHINS Aquaria</title>
		<meta name="author"      content="Doug Gerber" />
		<meta name="description" content="PHINS Aquaria | A company that sustainably cultures and captive breeds demersal and pelagic spawning saltwater marine fish" />
		<meta name="keywords"    content="aquaculture, saltwater, marine, fish, food, pelagic, demersal" />
		<link rel="shortcut icon" href="../phinsaquaria/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/globalstyle.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,900,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="anythingSlider/anythingslider.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				$('#slider').anythingSlider({
					buildStartStop : false,
					buildNavigation : false, 
					autoPlay : true,
					resizeContents : true
				});
			});
		</script>

<!-- start slider head -->
		<link rel="stylesheet" type="text/css" href="engine1/style.css" media="screen" />
		<script type="text/javascript" src="engine1/jquery.js"></script>
<!-- end slider head -->

	</head>

	<body>
<!-- start slider -->
	<div id="wowslider-container1">
	<div class="ws_images">
		<ul>
			<li><img src="data1/images/gchromis.jpg" alt="chromis school" title="Breeding Innovation" id="wows1_0"/></li>
			<li><img src="data1/images/gc1.jpg" alt="green chromis" title="Developing New Initiatives" id="wows1_1"/></li>
			<li><img src="data1/images/marinebetta.jpg" alt="marine betta" title="Raising the Bar" id="wows1_2"/></li>
			<li><img src="data1/images/clownfish.jpg" alt="clownfish" title="Redesigning Efficiency" id="wows1_3"/></li>
			<li><img src="data1/images/psychwrasse.jpg" alt="psych wrasse" title="Culturing an Aquatic Utopia" id="wows1_4"/></li>
			<li><img src="data1/images/ytang.jpg" alt="yellow tang" title="Pelagic Harvest International Solutions" id="wows1_5"/></li>
		</ul>
	</div>
	<a class="wsl" href="http://wowslider.com">Auto Image Scroller by WOWSlider.com v2.5</a>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
<!-- end slider -->

		<div id="content">
			<article>
				<h2><a href="team.html">Meet the Team</a></h2>
					<p>Read staff bios here and meet the brains behind the operation! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis odio, scelerisque in ultricies in, vulputate nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
			</article>
			<article>
				<h2><a href="news.html">Cultivating Now</a></h2>
					<p>Check out what we're working on, and what's cultivating in our labs today! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis odio, scelerisque in ultricies in, vulputate nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
			</article>
			<article>
				<h2>Tips</h2>
					<p>Coming soon! Starting a new tank? Losing fish? (We hope not!) Can't quite get your plants to grow? Let us help you! Find advice here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis odio, scelerisque in ultricies in, vulputate nec elit. </p>
			</article>
		</div>				
	</body>
</html>