<!DOCTYPE HTML>
<html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<title>PHINS Aquaria</title>
		<meta name="author"      content="Doug Gerber" />
		<meta name="description" content="PHINS Aquaria | A company that sustainably cultures and captive breeds demersal and pelagic spawning saltwater marine fish" />
		<meta name="keywords"    content="aquaculture, saltwater, marine, fish, food, pelagic, demersal" />
		<link rel="shortcut icon" href="../phinsaquaria/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/globalstyle.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,900,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="pitchInvite">
		This is the pitch content and an invitation to connect with us via the <a href="contact.php">contact</a> page.
		</div>
	</body>
</html>